* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
  font-family: "Inter", sans-serif;
}

/* Navigation Section */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem;
  background-color: #e6f8f9;
  position: sticky;
  top: 0;
}

.talents,
.employers,
.courses {
  display: none;
  box-shadow: 1px 6px 5px 1px rgba(27, 22, 66, 0.2);
  border-radius: 0.05rem;
  margin-top: 0.2rem;
  border: none;
}
.courses {
  width: 13rem;
}
.employers {
  width: 17rem;
}
.talents {
  width: 12rem;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  right: 3%;
  font-family: "Inter";
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}
.courses-menu,
.employers-menu,
.talents-menu {
  position: relative;
}
.nav-links .courses-menu:hover .courses,
.nav-links .employers-menu:hover .employers,
.nav-links .talents-menu:hover .talents {
  display: block;
  position: absolute;
  left: 0.02rem;
  background-color: white;
  border-radius: 0.5rem;
}
.nav-links .courses-menu:hover .courses ul,
.nav-links .employers-menu:hover .employers ul,
.nav-links .talents-menu:hover .talents ul {
  list-style: none;
}
.nav-links .courses-menu:hover .courses ul li,
.nav-links .employers-menu:hover .employers ul li,
.nav-links .talents-menu:hover .talents ul li {
  padding: 0 1rem;
  margin: 0.8rem 0;
}

.nav-links .courses-menu:hover .courses ul li a,
.nav-links .employers-menu:hover .employers ul li a,
.nav-links .talents-menu:hover .talents ul li a {
  font-size: 0.9rem;
  line-height: 0.5rem;
  font-family: "Inter";
  font-weight: 500;
  color: #1c1c1c;
}

.nav-links li {
  padding: 0 1.2rem;
}
.nav-links li a {
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #1c1c1c;
  font-weight: 500;
}
.header-button {
  padding-left: 3rem;
}
.header-button > button {
  padding: 0.4rem 1.2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0 0.1rem;
  color: #1c1c1c;
  border-radius: 0.3rem;
}
.header-button button:first-child {
  background-color: #e6f8f9;
  border: 2px solid black;
}
.header-button button:first-child:hover {
  background-color: #1b1642;
  color: #e6f8f9;
}
.header-button button:last-child {
  background-color: #1bd3c6;
  border: 2px solid #1bd3c6;
  outline: none;
  color: #1b1642;
}
.fas {
  margin-left: 0.5rem;
  color: #1c1c1c;
}

.checkbtn,
input {
  display: none;
  font-size: 2rem;
  color: white;
}

/* Hero section */
#hero {
  display: flex;
  height: 100vh;
  background-color: #e6f8f9;
}
#hero > aside {
  padding-top: 8rem;
  margin: 0rem;
}
#hero aside:first-child {
  width: 80%;
  margin-left: 7rem;
}
#hero aside img {
  width: 75%;
  margin-left: 2rem;
}
.hero-info h1 {
  font-size: 4rem;
  color: #1b1642;
  font-family: "epilogue" "inter" sans-serif;
  line-height: 4.25rem;
  font-weight: 700;
  letter-spacing: -2px;
}

.hero-info p {
  font-size: 1rem;
  color: #1b1642;
  font-family: "inter" sans-serif;
  line-height: 1.5rem;
  font-weight: 300;
  margin-top: 2.5rem;
  width: 75%;
}
.hero-info button {
  background-color: #1bd3c6;
  color: #1b091c;
  box-shadow: 0 0 0 2.5 rgba(27, 211, 198, 0.25);
  border-radius: 4px;
  padding: 0.6rem 1.6rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 2.5rem;
}

/* Company Vision Section */

.vision {
  display: flex;
  padding-bottom: 10rem;
}
.vision > aside {
  margin-top: 6rem;
}

.vision-img img {
  width: 75%;
}
.vision-info {
  width: 55%;
  text-align: center;
  margin-left: 7rem;
  margin-top: 3.5rem;
}
.vision-info h2 {
  font-size: 3rem;
  color: #1b1642;
  font-family: "epilogue" "inter" sans-serif;
  line-height: 3.5rem;
  font-weight: 800;
  letter-spacing: -1px;
  text-align: start;
}
.vision-info h2 span {
  color: #1bd3c6;
}
.vision-info p {
  font-size: 1rem;
  color: #1b1642;
  font-family: "inter" sans-serif;
  line-height: 1.5rem;
  font-weight: 300;
  margin-top: 2.5rem;
  text-align: start;
}
.manifesto {
  margin-top: 3rem;
  text-align: center;
  padding: 2rem 20rem;
  margin-left: 4rem;
}

.manifesto h2 {
  font-size: 3rem;
  color: #1b1642;
  font-family: "epilogue" "inter" sans-serif;
  line-height: 3.5rem;
  font-weight: 800;
  letter-spacing: -1px;
  width: 75%;
  text-align: center;
}
.manifesto p {
  font-size: 1rem;
  color: #1b1642;
  font-family: "inter" sans-serif;
  line-height: 1.5rem;
  font-weight: 300;
  margin-top: 2.5rem;
  text-align: start;
}

.manifesto2 {
  margin-top: 3rem;
  text-align: center;
  padding: 2rem 20rem;
  margin-left: 4rem;
}

.manifesto2 h2 {
  font-size: 3rem;
  color: #1b1642;
  font-family: "epilogue" "inter" sans-serif;
  line-height: 3.5rem;
  font-weight: 800;
  letter-spacing: -1px;
  width: 100%;
  text-align: center;
}
.manifesto2 p {
  font-size: 1rem;
  color: #1b1642;
  font-family: "inter" sans-serif;
  line-height: 1.5rem;
  font-weight: 300;
  margin-top: 2.5rem;
  text-align: center;
}

/* Alumni Section */

.alumni {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 7rem;
}
.alumni-a,
.alumni-b {
  display: flex;
  margin: 2rem;
}
.profile img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  /* text-align: center; */
}

.profile {
  width: 18rem;
  text-align: center;
}
.profile h4 {
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: "epilogue" sans-serif;
  color: #1b1642;
}
.profile h5 {
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-family: "inter" sans-serif;
  color: #1b1642;
  font-weight: 300;
}
.profile p {
  font-size: 1rem;
  color: #1b1642;
  font-family: "inter" sans-serif;
  line-height: 1.5rem;
  font-weight: 100;
}
.profile p span {
  font-size: 0.7rem;
  font-weight: 600;
}

/* Testimony Section */

.testimony {
  height: 90vh;
  background-color: #1b1642;
}

.testimony-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.testimony-items p:first-child {
  margin-top: 7rem;
  width: 60%;
  font-size: 2rem;
  color: #d2d0db;
  line-height: 2.2rem;
  font-weight: 600;
  font-family: "epilogue" sans-serif;
  text-align: center;
}
.testimony-info img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.testimony-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}
.testimony-info div {
  padding-left: 1rem;
}
.testimony-info h4 {
  color: #1bd3c6;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: "epilogue" sans-serif;
  font-weight: 700;
}
.testimony-info p {
  color: #d2d0db;
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-family: "inter" sans-serif;
  font-weight: 400;
}

/* Clients */

.clients {
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.clients-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.clients-links div a img {
  width: 80%;
}

/* Call to Action Section */

.call-to-action {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.call-to-action-info {
  padding: 12rem 25vw;
  display: flex;
  background-color: #1bd3c6;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 1rem;
}
.call-to-action-info h2 {
  margin-bottom: 4rem;
  font-size: 3rem;
  color: #1b1642;
  font-family: "epilogue" "inter" sans-serif;
  line-height: 3.5rem;
  font-weight: 800;
  letter-spacing: -1px;
  text-align: center;
}

.call-to-action-buttons {
  text-align: center;
}
.call-to-action-buttons button:first-child {
  background-color: white;
  color: #1b1b1b;
  padding: 0.6rem 1.4rem;
  border: none;
  font-size: 1.2rem;
  line-height: 1.8rem;
  border-radius: 0.3rem;
}

.call-to-action-buttons button:last-child {
  background-color: #1b1642;
  color: white;
  padding: 0.6rem 1.4rem;
  border: none;
  font-size: 1.2rem;
  line-height: 1.8rem;
  border-radius: 0.3rem;
}

/* Footer Section */

footer {
  width: 100%;
  height: 60vh;
  background-color: #1b1642;
}

.footer-info {
  display: flex;
  width: 100%;
  height: 60vh;

  margin-top: 6rem;
  justify-content: space-around;
}

footer .footer-info > div {
  margin-top: 5rem;
  padding: 2rem;
}
footer div h3 {
  margin-bottom: 2rem;
}
footer div svg {
  margin-bottom: 1rem;
}
footer div p {
  color: #e6e6e6;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  font-family: "inter" sans-serif;
}

footer div ul {
  list-style: none;
}

footer div ul li {
  margin: 1.5rem 0;
}
footer div ul li a {
  text-decoration: none;
  color: #e6e6e6;
  font-family: "inter" sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
}

.footer-info div h3 {
  color: #797492;
  font-family: "epilogue" sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Media Queries- Tablet */

@media only screen and (max-width: 1100px) and (min-width: 768px) {
  /* Header Section */
  header {
    position: sticky;
    top: 0;
  }
  .nav {
    position: absolute;
    top: 5rem;
    left: 0%;
    display: none;
    background-color: white;
    width: 100%;
    transition: all 0.5s;
  }
  .nav-links {
    display: block;
    height: 75vh;
    width: 100%;
  }
  .nav-links li {
    padding: 0 1.5rem;
    margin-top: 0.1rem;
  }

  .nav-links .courses-menu:hover .courses ul li,
  .nav-links .employers-menu:hover .employers ul li,
  .nav-links .talents-menu:hover .talents ul li {
    display: none;
  }

  .courses-a,
  .employers-a,
  .talents-a {
    display: block;
    list-style: none;
    border: none;
    background-color: none;
    box-shadow: none;
  }

  .courses-a ul li a,
  .employers-a ul li a,
  .talents-a ul li a {
    font-size: 0.8rem;
  }
  .courses-a ul li a:hover,
  .employers-a ul li a:hover,
  .talents-a ul li a:hover {
    color: blue;
    background-color: gray;
  }

  .courses ul,
  .employers ul,
  .talents ul {
    list-style: none;
    display: block;
    left: 5%;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  .courses ul li,
  .employers ul li,
  .talents ul li .header-button {
    padding-left: 0;
  }
  .checkbtn {
    display: block;
    font-size: 2rem;
    color: white;
  }
  #check:checked ~ div {
    display: block;
  }

  .fa-angle-down {
    padding-left: 42rem;
  }

  /* Hero Section */

  #hero {
    height: 100vh;
  }
  .hero-info h1 {
    font-size: 3rem;
  }
  #hero aside img {
    width: 60%;
  }
  .hero-info p {
    width: 50vw;
  }

  /* manifesto Section */

  .manifesto {
    padding: 2rem 2rem;
    text-align: center;
    padding: 2rem 2rem;
    margin: 2rem;
  }
  .manifesto h2,
  .manifesto2 h2,
  .manifesto p,
  .manifesto2 p {
    text-align: center;
    width: 100%;
  }

  .manifesto2 {
    margin-top: 3rem;
    text-align: center;
    padding: 2rem 2rem;
    margin: 2rem;
  }

  /* Alumni Section */

  .alumni {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 2rem;
  }
  .alumni-a,
  .alumni-b {
    display: flex;
    margin: 2rem;
  }
  .profile img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }

  .profile {
    width: 30rem;
    text-align: center;
  }
  .profile h4 {
    font-size: 0.8rem;
    width: 100%;
  }
  .profile h5 {
    font-size: 0.8rem;
  }
  .profile p {
    font-size: 0.7rem;
    width: 100%;
  }
  .profile p span {
    font-size: 0.5rem;
  }

  .tablet1,
  .tablet2,
  .tablet3,
  .tablet4 {
    width: 100%;
    padding: 2rem;
  }

  /* Client Section */

  .clients {
    height: 70vh;
    display: flex;
    flex-direction: column;
    margin: 0 2rem 0 5rem;
  }

  .clients-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
  }

  .clients-links div a img {
    width: 70%;
  }
}

/* Media Queries-Mobile */

@media only screen and (max-width: 768px) {
  /* Header Section */
  header {
    position: sticky;
    top: 0;
  }
  .nav {
    position: absolute;
    top: 5rem;
    left: 0%;
    display: none;
    background-color: white;
    width: 100%;
    transition: all 0.5s;
  }
  .nav-links {
    display: block;
    height: 75vh;
    width: 100%;
  }
  .nav-links li {
    padding: 0 1.5rem;
    margin-top: 0.1rem;
  }

  .nav-links .courses-menu:hover .courses ul li,
  .nav-links .employers-menu:hover .employers ul li,
  .nav-links .talents-menu:hover .talents ul li {
    display: none;
  }

  .courses-a,
  .employers-a,
  .talents-a {
    display: block;
    list-style: none;
    border: none;
    background-color: none;
    box-shadow: none;
  }

  .courses-a ul li a,
  .employers-a ul li a,
  .talents-a ul li a {
    font-size: 0.8rem;
  }
  .courses-a ul li a:hover,
  .employers-a ul li a:hover,
  .talents-a ul li a:hover {
    color: blue;
    background-color: gray;
  }

  .courses ul,
  .employers ul,
  .talents ul {
    list-style: none;
    display: block;
    left: 5%;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  .courses ul li,
  .employers ul li,
  .talents ul li .header-button {
    padding-left: 0;
  }
  .checkbtn {
    display: block;
    font-size: 2rem;
    color: white;
  }
  #check:checked ~ div {
    display: block;
  }

  .fa-angle-down {
    padding-left: 42rem;
  }

  /* Hero Section */

  #hero {
    height: 150vh;
    width: 100vw;
    padding: 0 0.2rem;
    display: flex;
    flex-direction: column;
  }
  .hero-info h1 {
    font-size: 3rem;
  }
  #hero aside img {
    width: 40%;
  }
  .hero-info p {
    width: 50vw;
  }

  /* Company Vision Section */

  .vision {
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
  }
  .vision > aside {
    margin: 6rem 2rem 0 2rem;
    text-align: center;
  }

  .vision-img img {
    width: 60%;
  }
  .vision-info {
    width: 60%;
    text-align: center;
    margin-top: 3.5rem;
  }
  .vision-info h2 {
    font-size: 2rem;
    color: #1b1642;
  }
  .vision-info p {
    font-size: 0.8rem;
  }

  /* manifesto Section */

  .manifesto {
    padding: 2rem 2rem;
    text-align: center;
    padding: 2rem 2rem;
    margin: 2rem;
  }
  .manifesto h2,
  .manifesto2 h2,
  .manifesto p,
  .manifesto2 p {
    text-align: center;
    width: 100%;
  }

  .manifesto2 {
    margin-top: 3rem;
    text-align: center;
    padding: 2rem 2rem;
    margin: 2rem;
  }
  /* Testimony Section */
  .testimony-items p:first-child {
    margin-top: 7rem;
    width: 100%;
    font-size: 1.2rem;
  }
  .testimony-info img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  .testimony-info h4 {
    font-size: 1rem;
  }
  .testimony-info p {
    font-size: 0.5rem;
  }

  /* Alumni Section */
  .alumni-a,
  .alumni-b {
    display: block;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .profile img {
    margin-bottom: 1rem;
  }
  .profile {
    margin: 2rem;
  }

  /* Client Section */

  .clients {
    margin: 0 2rem;
  }

  .clients-links div a img {
    width: 100%;
  }

  /* Call to Action Section */

  .call-to-action-info {
    padding: 12rem 10vw;
  }
  .call-to-action {
    margin-bottom: 10rem;
  }

  /* Footer Section */

  footer {
    height: 200vh;
  }

  .footer-info {
    flex-direction: column;
    width: 80vw;
    height: 200vh;
  }
}
